<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Juegos</title>
    {{CSS}}
</head>
<body>
    <h1 style="text-align:center; margin-top: 20px;">Listado de Juegos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Jugadores Mínimos</th>
                    <th>Jugadores Máximos</th>
                    <th>Jugadores Ideales</th>
                    <th>Duración</th>
                    <th>Peso</th>
                    <th>Edad Mínima</th>
                    <th>Año Primera Publicación</th>
                </tr>
            </thead>
            <tbody>
                {{ROWS}}
            </tbody>
        </table>
    {{JQUERY}}
    {{JS}}
</body>